body {
    font-family: "Inter, sans-serif";
    height: 120vh;
}

@media (max-width: 800px) {
    .container {
        flex-direction: column-reverse;
    }
}

@media (max-width: 450px) {
    .form-header {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
}