button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.button {
    border-radius: var(--radius-1);
    font-size: var(--size-4);
    font-weight: var(--weight-1);
    text-align: center;
}

.button-outline {
    border: 1px solid var(--gray600);
    color: var(--gray100);
}

.button-outline:hover {
    background-color: var(--gray800);
}

.button-brand {
    background-color: var(--brand100);
    color: white;
}

.button-brand:hover {
    background-color: var(--brand200);
}

.button-alert {
    background-color: var(--alert100);
    color: white;
}

.button-alert:hover {
    background-color: var(--alert200);
}

.pd-button-1 {
    padding: 0.438rem 1rem;
}

.pd-button-2 {
    padding: 0.313rem 0.5rem;
}

.spinner {
    animation: spin 0.5s linear infinite;
}

.button-gray {
    background-color: var(--gray700);
    color: var(--gray400);
}

.button-gray:hover {
    color: var(--gray300);
}

.logout {
    font-weight: 500;
    opacity: 50%;
    padding: 22px 19px;
    text-align: start;
}

.logout::before {
    content: url("../assets/imgs/sign-out-alt.svg");
    margin-right: 20px;
}

.logout:hover {
    background-color: var(--gray700);
    opacity: 100%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}