input {
    width: 100%;
    outline: none;
}

.forms-1-wrapper {
    border: 1px solid #D9D9D9;
    border-radius: var(--radius-1);
    flex-shrink: 0;
    max-width: 369px;
    padding: 2.75rem 1.5rem;
    width: 100%;
}

.forms-1-wrapper p {
    text-align: center;
}

.input-1 {
    background-color: var(--gray800);
    border: 1px solid var(--gray600);
    border-radius: var(--radius-1);
    font-size: var(--size-4);
    padding: 0.625rem 1rem;
}

.input-1::placeholder {
    border-radius: var(--radius-1);
    color: var(--gray400);
}

.input-1:focus {
    border-color: var(--gray100);
}

.label-1 {
    color: var(--gray100);
    font-weight: var(--weight-1);
}

.forms-1-wrapper div p {
    text-align: start;
}