.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.position-fixed {
    position: fixed;
}

.link {
    color: var(--brand100);
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}