body {
    height: auto;
    margin-bottom: 60px;
}

.page-header {
    flex-shrink: 0;
    height: 172px;
    gap: 1rem;
    margin: 0;
}

.page-header .round-img {
    border: 1px solid var(--brand100);
    width: 40px;
}

.container {
    margin: 0;
}

.round-img {
    border-radius: var(--radius-round);
    object-fit: cover;
}

.trace {
    padding: 1.063rem;
    margin-bottom: 35px;
}

.d-none {
    display: none;
}
